@mixin transition {
  transition: all;
  transition-duration: 200ms;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
